/* font added */
body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}


/* banner styles */
.banner {
    background-color: #2d4a55;
    width: 1330px;
    height: 550px;
    margin-top: 50px;
    margin-left: 90px;
    margin-right: 90px;
    border-radius: 15px;
}

.banner-text {
    display: flex;
    color: #FFFFFF;
}

.banner-text-section {
    margin-top: 10px;
    margin-left: 100px;
}

.banner-text-section h1 {
    font-size: 60px;
    transition: transform 0.3s ease-in;
}

.banner-text-section:hover h1 {
    transform: rotate(360deg);
}

.banner-text-section p {
    font-size: 16px;
    margin-bottom: 50px;
}

.banner-button {
    background-color: #DD0000;
    padding: 13px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;
    color: #FFFFFF;
}

.banner-button:hover {
    background-image: linear-gradient(to bottom right, rgb(225, 81, 81), orangered);
}

#banner-image {
    margin-top: 50px;
    margin-left: 140px;
    height: 500px;
}


/* previous match section style start*/
.previous-match {
    display: flex;
    margin-top: 130px;
    margin-left: 90px;
}

/* box section start */
.upcoming-match {
    background-color: #161616;
    width: 312px;
    height: 312px;
    border-radius: 10px;
    margin-right: 24px;
}

.upcoming-match-link {
    display: block;
    text-decoration: none;
    color: #161616;
    font-size: 20px;
    text-align: center;
    background-color: #FFFFFF;
    width: 252px;
    height: 64px;
    margin: 30px;
    border-radius: 10px;
}

.upcoming-match-blog {
    display: block;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
    text-align: center;
    background-color: #DD0000;
    width: 252px;
    height: 64px;
    margin: 30px;
    border-radius: 10px;
}

.upcoming-match-link:hover {
    background-image: linear-gradient(to bottom right, rgb(225, 81, 81), orangered);
}

.upcoming-match-blog:hover {
    background-image: linear-gradient(to bottom right, rgb(225, 81, 81), orangered);
}

/* box section end  */


.match-reply {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 24px;
    grid-column-gap: 24px;
}

.match-preview {
    width: 312px;
    height: 350px;
    border-radius: 10px;
    border: 0.5px solid rgb(228, 222, 222);
}

.match-preview a p {
    font-size: 16px;
    text-align: center;
    border: 1px solid gray;
    width: 100px;
    height: 22px;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 20px;
}

.match-preview a {
    text-decoration: none;
    color: #161616;
}

.match-preview h4 {
    font-size: 18px;
    margin: 20px;
}

.match-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 140px;
}

.fa-regular {
    margin-right: 10px;
}

/* previous match section style end*/

.view-all-button {
    visibility: hidden;
}

/* footer styles */
footer {
    background-color: #161616;
    width: 100%;
    height: 380px;
    margin-top: 130px;
}

footer h2 {
    text-align: center;
    color: #FFFFFF;
    font-size: 40px;
    margin-top: 45px;
    margin-bottom: 45px;
}

footer hr {
    width: 1320px;
    height: 0;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-anchor {
    display: flex;
    margin-top: 50px;
    margin-left: 351px;
}

.footer-anchor-link {
    text-decoration: none;
    color: #B9B9B9;
    font-size: 16px;
    margin-left: 35px;
}

.footer-anchor-link2 {
    text-decoration: none;
    color: #B9B9B9;
    font-size: 16px;
    margin-left: 35px;
}

.footer-icon {
    margin-top: 50px;
    margin-left: 645px;
}

.footer-icon a {
    color: #B9B9B9;
    margin-left: 30px;
    font-size: 40px;
}


/* styles for Tablet */

@media only screen and (min-width:668px) and (max-width:1024px) {
    .banner {
        background-color: #2d4a55;
        width: 862px;
        height: 398px;
        margin-top: 50px;
        margin-left: 50px;
        margin-right: 50px;
    }

    .banner-text-section {
        margin-top: 5px;
        margin-left: 60px;
    }

    .banner-text-section h1 {
        font-size: 42px;
    }

    .banner-text-section p {
        font-size: 14px;
        margin-bottom: 45px;
    }

    .banner-button {
        padding: 10px;
        font-size: 15px;
    }

    #banner-image {
        margin-top: 20px;
        margin-left: 90px;
        height: 372px;
    }

    .upcoming-match {
        background-color: #FFFFFF;
        width: 800px;
        height: 65px;
        margin-bottom: 100px;
    }

    .upcoming-match-div {
        display: flex;
    }

    .upcoming-match-div a {
        border: 1px solid gray;
    }

    .previous-match {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .match-reply {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .view-all-button a {
        text-decoration: none;
        color: #FFFFFF;
        font-size: 20px;
        background-color: #DD0000;
        padding: 13px;
        border-radius: 5px;
    }

    .view-all-button {
        visibility: visible;
        margin-top: 80px;
        margin-left: 450px;
    }

    footer {
        width: 993px;
        height: 420px;
        margin-top: 80px;
    }

    .footer-icon {
        margin-left: 380px;
    }

    .footer-anchor {
        display: block;
        margin-left: 50px;
    }

    .upper-footer {
        margin-left: 130px;
    }

    .lower-footer {
        margin-top: 30px;
        margin-left: 330px;
    }
}


/* styles for mobile  */

@media only screen and (max-width:667px) {

    .banner-text {
        display: block;
    }

    .banner {
        width: 334px;
        height: 483px;
        margin-left: 20px;
        margin-top: 20px;
    }

    .banner-text-section {
        margin-left: 0px;
    }

    .banner-text-section h1 {
        font-size: 22px;
        text-align: center;
        margin-top: 10px;
    }

    .banner-text-section p {
        font-size: 14px;
        text-align: center;
        margin-bottom: 25px;
    }

    .banner-button {
        padding: 6px;
        font-size: 18px;
        margin-left: 102px;
    }

    #banner-image {
        margin-top: 25px;
        margin-left: 70px;
        height: 230px;
    }

    .upcoming-match {
        background-color: #FFFFFF;
    }

    .upcoming-match a {
        border: 1px solid gray;
    }

    .previous-match {
        display: block;
        margin-top: 50px;
        margin-left: 30px;
    }

    .match-reply {
        margin-top: 0px;
        grid-template-columns: repeat(1, 1fr);
    }

    footer {
        height: 480px;
        margin-top: 50px;
    }

    footer h2 {
        font-size: 25px;
        margin-top: 20px;
        margin-bottom: 30px;
    }

    footer hr {
        width: 335px;
    }

    .footer-anchor {
        display: block;
        margin-top: 50px;
        margin-left: 0px;
    }

    .footer-anchor-link {
        display: block;
        text-align: center;
        margin-left: 0px;
        margin-top: 13px;
    }

    .footer-anchor-link2 {
        display: block;
        text-align: center;
        margin-left: 0px;
        margin-top: 13px;
    }

    .footer-icon {
        margin-top: 50px;
        margin-left: 62px;
    }
}