/* font added */
body {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}


/* banner styles */
.banner {
    background-color: #2d4a55;
    width: 1330px;
    height: 550px;
    margin-top: 50px;
    margin-left: 90px;
    margin-right: 90px;
    border-radius: 15px;
}

.banner-text {
    display: flex;
    color: #FFFFFF;
}

.banner-text-section {
    margin-top: 10px;
    margin-left: 100px;
}

.banner-text-section h1 {
    font-size: 60px;
    transition: transform 0.3s ease-in;
}

.banner-text-section:hover h1 {
    transform: rotate(360deg);
}

.banner-text-section p {
    font-size: 16px;
    margin-bottom: 50px;
}

.banner-button {
    background-color: #DD0000;
    padding: 13px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;
    color: #FFFFFF;
}

.banner-button:hover {
    background-image: linear-gradient(to bottom right, rgb(225, 81, 81), orangered);
}

#banner-image {
    margin-top: 50px;
    margin-left: 140px;
    height: 500px;
}


/* match time section start */
/* box section start */
.upcoming-match {
    background-color: #161616;
    width: 312px;
    height: 312px;
    border-radius: 10px;
    margin-right: 24px;
}

.upcoming-match-blog {
    display: block;
    text-decoration: none;
    color: #161616;
    font-size: 20px;
    text-align: center;
    background-color: #FFFFFF;
    width: 252px;
    height: 64px;
    margin: 30px;
    border-radius: 10px;
}

.upcoming-match-link {
    display: block;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
    text-align: center;
    background-color: #DD0000;
    width: 252px;
    height: 64px;
    margin: 30px;
    border-radius: 10px;
}

.upcoming-match-link:hover {
    background-image: linear-gradient(to bottom right, rgb(225, 81, 81), orangered);
}

.upcoming-match-blog:hover {
    background-image: linear-gradient(to bottom right, rgb(225, 81, 81), orangered);
}

/* bos section end  */

.match-time {
    display: flex;
    margin-top: 130px;
    margin-left: 90px;
}

.match-playing-time {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
}

.flag-all-section {
    width: 312px;
    height: 242px;
}

.flag-all-section:hover {
    border: 1px solid gray;
    border-radius: 5px;
}

.flag-div {
    display: flex;
    margin-top: 53px;
    margin-left: 30px;
    margin-right: 30px;
}

.flag-div img {
    width: 93.04px;
    height: 56.18px;
}

.flag-div p {
    font-size: 16px;
    margin-right: 21px;
    margin-left: 21px;
    text-align: center;
}

.flag-all-section h4 {
    font-size: 20px;
    text-align: center;
    color: #161616;
    margin-top: 30px;
}

.flag-all-section p {
    color: #4D4D4D;
    text-align: center;
    font-size: 15px;
}

/* match time section end  */

/* footer styles */
footer {
    background-color: #161616;
    width: 100%;
    height: 380px;
    margin-top: 130px;
}

footer h2 {
    text-align: center;
    color: #FFFFFF;
    font-size: 40px;
    margin-top: 45px;
    margin-bottom: 45px;
}

footer hr {
    width: 1320px;
    height: 0;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-anchor {
    margin-top: 50px;
    margin-left: 351px;
}

.footer-anchor-link {
    text-decoration: none;
    color: #B9B9B9;
    font-size: 16px;
    margin-left: 35px;
}

.footer-icon {
    margin-top: 50px;
    margin-left: 645px;
}

.footer-icon a {
    color: #B9B9B9;
    margin-left: 30px;
    font-size: 40px;
}